<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.suryakiran.brewauto</string>
    <key>ProgramArguments</key>
    <array>
        <string>/bin/bash</string>
        <string>__HOME__/IdeaProjects/BrewAutomation/brew_autoupdate.sh</string>
    </array>
    <key>StartInterval</key>
    <integer>1800</integer>
    <key>StandardOutPath</key>
    <string>__HOME__/IdeaProjects/BrewAutomation/system_stdout.log</string>
    <key>StandardErrorPath</key>
    <string>__HOME__/IdeaProjects/BrewAutomation/system_stderr.log</string>
    <key>RunAtLoad</key>
    <false/>
</dict>
</plist>